<div id="book-listing">
  <h1>Book List</h1>
 <button class='btn btn-md btn-default' onClick="window.print()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print List</button>
  <table class="table table-hover" id="book-table">
    <tr>
      <td><h4 style="color:#000; text-align:center; text-decoration: underline">Book ID</h4></td>
      <td><h4 style="color:#000; text-align:center; text-decoration: underline">Title</h4></td>
      <td><h4 style="color:#000; text-align:center; text-decoration: underline">Author</h4></td>
      <td><h4 style="color:#000; text-align:center; text-decoration: underline">Delete?</h4></td>
    </tr>

    {{#books}}
  <tr>
    <td><h4>{{id}}</h4></td>
    <td><h4>{{title}}</h4></td>
    <td>{{author}}</h4></td>
<td><button type="button" class="close" style="text-align:center" id="unclaimItem" data-id={{id}}><span aria-hidden="true">&times;</span></button>
</td>

    {{/books}}
  </tr>
  </table>
</div>
